@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans");
@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-family: 'Hedvig Letters Sans';
  font-size: 24px;
  scroll-behavior: smooth;

  min-width: 200px;
  min-height: 200px;
}

/* Buttons */
.button {
  font-family: 'Fragment Mono';
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  width: 8em;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #e7ecef;
  color: #e7ecef;
  background-color: #23486f;
  transition: 0.3s ease background-color;

  &>img {
    position: relative;
    top: 0.1em;
    right: 0.1em;
    max-width: 24px;
    max-height: 100%;
  }

  &:hover {
    background-color: #f85a3e;
  }
}

.button:hover:after {
  transition: 0.3s ease background-color;
}


.button.small {
  font-size: 0.8em;
}

.linkedin {
  background-color: #0077b5;
}

.facebook {
  background-color: #3b5998;
}

/* Navigation */
nav {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background-color: #e7ecef;
  z-index: 1;
  width: 100%;

  @media only screen and (max-width: 850px) {
    font-size: 0.75em;
  }
}

.container {
  font-family: 'Fragment Mono';
  width: 90%;
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;

  &>ul {
    display: inline-block;

    &>li {
      display: inline-block;

      &>a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: #0d1b2a;
        border-radius: 12px;
        transition: 0.3s ease background-color;

        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    &>li.active {
      background-color: #f85a3e;
      transition: 0.3s ease background-color;
      border-radius: 12px;

      &>a {
        color: rgb(231, 236, 239);
      }

      &>.navlink {
        background-color: #f85a3e;
        transition: 0.3s ease background-color;
        border-radius: 12px;
      }
    }
  }
}

section {
  width: 100%;
  color: #0d1b2a;
  background-color: #e7ecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    font-family: 'Fragment Mono';
    padding-bottom: 1em;
  }
}

/* Home */
section#home {
  height: 80vh;
  color: #e7ecef;
  background-color: #0d1b2a;
  padding: 30px;

  &>h1 {
    padding-top: 0.5em;
    padding-bottom: 0em;
  }

  &>*:not(:first-child) {
    margin-top: 20px;
  }

  &>.hero {
    border-radius: 50%;
    border: 8px solid white;
    width: 300px;
    height: auto;
  }
}

/* Portfolio */
section#portfolio {
  height: 100vh;
}

.card-container {
  background-color: red;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;

  &>ul {
    display: inline-block;

    &>li {
      display: flex;
      flex-wrap: wrap;
      width: 1000px;
      height: 16em;
      text-decoration: none;
      color: #0d1b2a;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 12px;

      & .left {
        background-color: blue;
        flex-basis: 40%;
        height: 15em;

        display: flex;
        flex-direction: column;
        justify-content: center;

        & img {
          padding-bottom: 2em;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }

        & button {
          text-align: center;
        }
      }

      & .right {
        background-color: green;
        flex-basis: 60%;
        text-align: left;
        padding-left: 1em;
        height: 15em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: 'Fragment Mono';
          padding-top: 1em;
          padding-bottom: 1em;
        }

        & span.category {
          font-size: 0.8em;
        }

        & p {
          padding-bottom: 2em;
        }

        & .close {
          position: relative;
          bottom: 2em;
          left: 0.5em;
          width: 2em;
          height: 2em;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          background-color: #23486f;
          color: #e7ecef;
        }
      }
    }
  }
}


/* Skills */
section#skills {
  min-height: 50vh;

  & h1 {
    text-align: center;
  }

  & .wrapper {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    max-width: 60%;
    border-radius: 12px;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;

  & li {
    flex: 1 0 150px;
    list-style: none;
    margin: 0 1vw;
    text-align: center;
    margin-bottom: 1em;
  }

  @media (max-width: 850px) {
    max-width: 90%;

    & li {
      margin: 0 0.5vw;
    }
  }

  & img {
    max-width: 96px;
    max-height: 100%;
  }
}

/* About */
section#about {
  height: 100vh;

  h1 {
    padding-top: 0em;
  }
}

.about-container {
  width: 70%;
  max-width: 1800px;
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: 850px) {
    flex-direction: column;

    &>.right {
      order: -1;
    }
  }

  & .left {
    flex-basis: 60%;
    padding: 0 100px;

    & p {
      line-height: 1.5;

      &:first-child {
        padding-bottom: 1em;
      }
    }
  }

  & .right {
    background-image: url('../assets/myself.jpg');
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    flex-basis: 40%;
    text-align: center;
    max-width: 600px;

    img {
      display: block;
      max-width: 100%;
      height: 60%;
      object-fit: cover;
    }
  }
}

section#footer {
  height: 10vh;
  background-color: #0d1b2a;
  color: #e7ecef;
  font-size: 18px;
  font-family: 'Fragment Mono';
}


/* Modal */
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #e7ecef;
  color: #0d1b2a;
  padding: 20px;

  @media only screen and (max-width: 850px) {
    width: 80%;
  }

  & .message {
    color: red;
    font-size: 0.7em;
    padding-bottom: 0.2em;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  & form label {
    margin-bottom: 10px;
  }

  & form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 2em;
  }

  & form button {
    padding: 10px 20px;
    background-color: #23486f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 0.5em;
  }

  & .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #23486f;
    color: #e7ecef;
  }

  & .container {
    display: flex;
    justify-content: center;

    & ul {
      padding-bottom: 1.5em;
    }

    & a {
      color: #0d1b2a;
    }
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}